body {
    background-image: url("https://i.ibb.co/VTVQ0LX/expert-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 60%;
    height: 100vh;
    width: 100%;
    /* backface-visibility: hidden; */
    color: white;
    animation: slideBg 8s infinite 8s;
    animation-timing-function: ease-in-out;
}

/* @keyframes slideBg {
    0% {
        background-image: url("https://i.ibb.co/VTVQ0LX/expert-bg.jpg"); */
        /* background-position: 80% 60%; */
    /* }

    25% {
        background-image: url("https://i.ibb.co/XZ5yR1m/collaborate-bg.jpg"); */
        /* background-position: 60% 60%; */
        /* background-size: cover; */
    /* }

    50% { */
        /* background-image: url("https://i.ibb.co/h24WkTk/laon-bg.jpg"); */
        /* background-position: 11% 60%; */
        /* background-size: cover;
    }

    100% {
        background-size: cover;
        background-image: url("https://www.mahindra.com/assets/cms-images/news-room/mahindrarise-75/mahindra-agri-helping-farmers-688x278.jpg");
    } */
/* } */

#main_text_box-1,
#main_text_box-2 {
    width: 35%;
    background: rgba(20, 1, 1, 0.473);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#button-box a {
    border-radius: 0;
}

#btn-1 {
    background-color: #9D695A;
    transition: 0.5s;
}

#btn-2 {
    background-color: transparent;
    border: 4px solid #9D695A;
}

#btn-1:hover {
    background-color: #b0877b;
}

#btn-2:hover {
    background-color: #9D695A;
}


.carousel {
    z-index: -99;
}

/* keeps this behind all content */
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

}

.carousel .one {
    background: url("https://i.ibb.co/VTVQ0LX/expert-bg.jpg");
    background-size: cover;
    -moz-background-size: cover;
}

.carousel .two {
    background: url("https://i.ibb.co/XZ5yR1m/collaborate-bg.jpg");
    background-size: cover;
    -moz-background-size: cover;
}

.carousel .three {
    background: url("https://i.ibb.co/h24WkTk/laon-bg.jpg");
    background-size: cover;
    -moz-background-size: cover;
}

.carousel .active.left {
    left: 0;
    opacity: 0;
    z-index: 2;
}