.main-container_1 {
    background-image: url("https://i.ibb.co/VTVQ0LX/expert-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    background-position: 80% 60%;
    height: 90vh;
    width: auto;
    color: white;
    animation: slideBg 10s infinite ease;
    /* background: #000; */
}

/* @keyframes slideBg {
    0% {
        background-image: url("https://i.ibb.co/VTVQ0LX/expert-bg.jpg");

    }

    25% {
        background-image: url("https://i.ibb.co/XZ5yR1m/collaborate-bg.jpg");

    }

    50% {
        background-image: url("https://i.ibb.co/h24WkTk/laon-bg.jpg");

    }

    75% {
        background-image: url("https://www.mahindra.com/assets/cms-images/news-room/mahindrarise-75/mahindra-agri-helping-farmers-688x278.jpg");
    }
} */

#landing-pg_heading {
    color: white;
}

#main_text_box-1,
#main_text_box-2 {
    width: 35%;
    background: rgba(20, 1, 1, 0.473);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


#button-box a {
    border-radius: 0;
}

#btn-1 {
    background-color: #9D695A;
    transition: 0.5s;
}

#btn-2 {
    background-color: transparent;
    border: 4px solid #9D695A;
}

#btn-1:hover {
    background-color: #b0877b;
}

#btn-2:hover {
    background-color: #9D695A;
}

/* Container 2 */

.main-container_2 {
    background-image: url("https://i.ibb.co/QJ1gV2t/image-removebg-preview-2-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    /* background-position: 80% 60%; */
    /* height: 90vh; */
    width: auto;
    color: white;
    animation: slideBg 10s infinite ease;
    /* background: #000; */
}

#card-heading {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#card-1 {
    cursor: pointer;
}

#card-2 {
    cursor: pointer;
}

#card-3 {
    cursor: pointer;
}

.bg_color {
    background: #0BC06C;
}

.black-img {
    filter: invert(100%);
}