@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.nav-link {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0em;
  color: #000;
  font-weight: bold;
}

.nav-link:hover {
  color: #0BC06C;
  text-decoration: underline;
}
.menu-btn {
  font-size: 20px;
  color: white;
  float: right;
  line-height: 40px;
  margin-top: 10px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}
